<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Food</key>
	<string></string>
	<key>WorkList</key>
	<array>
		<string>Homework</string>
		<string>Housework</string>
		<string>Work</string>
	</array>
	<key>ShoppingList</key>
	<array>
		<string>General</string>
		<string>Food</string>
		<string>Stationary</string>
		<string>Kitchen Supplies</string>
	</array>
</dict>
</plist>
