<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Food</key>
	<array>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Afghan</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>African</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Afro Caribbean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Arabic</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Caribbean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Egyptian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Eritrean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Ethiopian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Ghanaian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Iranian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Jamaican</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Lebanese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Mauritian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Middle Eastern</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Mongolian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Moroccan</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Nigerian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>North African</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Persian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Sri Lankan</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Tunisian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Turkish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Asian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Azerbaijani</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Balti</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Bengali</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Burmese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Cambodian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Chinese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Dim Sum</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Filipino</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Georgian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Indian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Indonesian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Japanese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Keralan</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Korean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Malaysian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Nepalese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Noodle Bar</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Oriental</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Pakistani</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Pan-Asian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Polynesian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Singaporean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>South African</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>South Indian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Sushi</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Taiwanese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Thai</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Ukrainian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Uzbekistani</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Vietnamese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Albanian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Armenian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Austrian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Bar</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Belgian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Bistro</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Brasserie</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>British</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Café</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Continental</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Czechoslovakian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Dessert</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Dutch</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Eastern European</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>European</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Fish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>French</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Fusion</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Gastro</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>German</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Greek</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Grill</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Hungarian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Ice Cream &amp; Froghurt</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>International</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Irish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Italian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Jewish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Mediterranean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Modern Eclectic</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Modern British</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Modern European</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Modern French</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Pancakes</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Patisserie</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Pizza</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Polish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Portuguese</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Pub</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Russian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Sandwich</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Scandinavian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Scottish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Seafood</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Soup</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Spanish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Steakhouse</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Swedish</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Swiss</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Tapas</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Tearoom</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Vegan</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Vegetarian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>American</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Barbecue</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Deli</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Hawaiian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Mexican</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Soul Food</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Tex-Mex</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Australian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>New Zealand</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Pacific Rim</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Argentinean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Brazilian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Caribbean</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Colombian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Cuban</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Latin</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Peruvian</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>South American</string>
		</dict>
	</array>
	<key>ShoppingList</key>
	<array>
		<dict>
			<key>Frequency</key>
			<integer>5</integer>
			<key>Title</key>
			<string>Uncatagorized</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>4</integer>
			<key>Title</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>3</integer>
			<key>Title</key>
			<string>Stationary</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>2</integer>
			<key>Title</key>
			<string>Kitchen supplies</string>
		</dict>
	</array>
	<key>WorkList</key>
	<array>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Homework</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Housework</string>
		</dict>
		<dict>
			<key>Frequency</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Work</string>
		</dict>
	</array>
</dict>
</plist>
