<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ivory</key>
	<dict>
		<key>Order</key>
		<integer>0</integer>
		<key>Hex</key>
		<string>F9F9F9</string>
	</dict>
	<key>Bush</key>
	<dict>
		<key>Hex</key>
		<string>8EC59D</string>
		<key>Order</key>
		<integer>1</integer>
	</dict>
	<key>Tomato</key>
	<dict>
		<key>Order</key>
		<integer>2</integer>
		<key>Hex</key>
		<string>F97774</string>
	</dict>
	<key>Marine</key>
	<dict>
		<key>Order</key>
		<integer>3</integer>
		<key>Hex</key>
		<string>70ABD0</string>
	</dict>
	<key>Orange</key>
	<dict>
		<key>Order</key>
		<integer>4</integer>
		<key>Hex</key>
		<string>EEAA4E</string>
	</dict>
	<key>Clay</key>
	<dict>
		<key>Order</key>
		<string>5</string>
		<key>Hex</key>
		<string>FFE28B</string>
	</dict>
	<key>Violet</key>
	<dict>
		<key>Order</key>
		<integer>6</integer>
		<key>Hex</key>
		<string>40419A</string>
	</dict>
	<key>Slate</key>
	<dict>
		<key>Order</key>
		<integer>7</integer>
		<key>Hex</key>
		<string>708090</string>
	</dict>
	<key>Aqua</key>
	<dict>
		<key>Order</key>
		<integer>8</integer>
		<key>Hex</key>
		<string>30BCE4</string>
	</dict>
	<key>Forest</key>
	<dict>
		<key>Order</key>
		<integer>9</integer>
		<key>Hex</key>
		<string>49AC41</string>
	</dict>
	<key>Tan</key>
	<dict>
		<key>Order</key>
		<integer>10</integer>
		<key>Hex</key>
		<string>D2B48C</string>
	</dict>
	<key>Pink</key>
	<dict>
		<key>Order</key>
		<string>11</string>
		<key>Hex</key>
		<string>F79FA7</string>
	</dict>
</dict>
</plist>
